.page-header
  %h1 Устройства
.list-group
  -@devices.each do |device|
    .list-group-item
      .pull-right
        =link_to device, class: 'btn btn-primary btn-sm' do
          =fa_icon 'eye'
        =link_to edit_device_path(device), class: 'btn btn-primary btn-sm' do
          =fa_icon 'edit'
        =link_to device, method: :delete, data: {confirm: "Вы уверены?"}, class: 'btn btn-danger btn-sm' do
          =fa_icon 'trash-o'
      %h4=device.name
      / .text-muted=user.login
      .clearfix

=link_to 'New device', new_device_path