.page-header
  %h1 Список oid's по которым можно генерировать отчет
%p

.list-group
  -@walk_requests.each do |request|
    .list-group-item{:style => "margin-top: 5px;"}
      .pull-right
        =link_to edit_walk_request_path(request), class: 'btn btn-primary btn-sm' do
          =fa_icon 'edit'
        =link_to request, method: :delete, data: {confirm: "Вы уверены?"}, class: 'btn btn-danger btn-sm' do
          =fa_icon 'trash-o'
      %h4=request.request
      .clearfix
      

= link_to '+ Добавить', new_walk_request_path, :class => "btn btn-primary btn-white-text"
