.narrow
  .page-header
    %h1 Авторизация
  = form_for @user do |f|

    .form-group
      =f.label :login
      =f.text_field :login, class: 'form-control'
    .form-group
      =f.label :password
      =f.password_field :password, class: 'form-control'
    .form-actions
      = f.submit "Вход", class: 'btn btn-primary'
