-if controller_name == 'sessions'
  .narrow
    .error-alert
      -flash.each do |key,value|
        .alert{class: "alert-#{key}"}=value
- else
  -flash.each do |key,value|
    .alert{class: "alert-#{key}"}=value