.navbar.navbar-default
  .container
    %ul.nav.navbar-nav
      %li{class: ('active' if controller_name=='devices')}=link_to "Устройства", devices_path
      %li{class: ('active' if controller_name=='walk_requests')}=link_to "Тип статистики", walk_requests_path
      %li{class: ('active' if controller_name=='users')}=link_to "Пользователи", users_path
      

    %ul.nav.navbar-nav.navbar-right
      %li{class: (controller_name=='logout' ? 'active' : '')}=link_to "Выход", :logout 

	    
