!!! 5
%html
  %head
    %title="СМЛС"
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    -if  !@current_user.nil?
      =render 'layouts/topbar'
      .div{:style => "margin-left: 50px;margin-top: 50px;"}
        = link_to_back

    .container.main{style: "margin-top: -60px;"}
      =render 'layouts/flash_messages'
      =yield
