/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require main
 *= require_tree .
 */

.trololo{
    position: absolute;
    border-radius: 5px;
    border: 2px;
    border-style: solid;
    /*height: 300px;*/
    max-height:  70%;;
    max-width: 70%;
    margin-right: 50px;
    margin-left: 200px;
    z-index: 999999;

}

.trololo  h4{
    padding: 4px;
    height: 450px;
    width: 930px;
    /*text-overflow: clip;*/
}


.btn-white-text {
  color: white !important;
}

.navbar-default .navbar-nav > .active-btn-topbar > a {
    color: #E8E8EF;
    background-color: rgba(97, 97, 103, 0.58);
    /*background-color: rgba(97, 97, 103, 0.58);*/
}


.navbar-default .navbar-nav > .active-btn-topbar >  a:visited {
    /*color: white !important;*/
}

.navbar-default .navbar-nav > li >  a:hover {
    color:white !important;
}


.table-form.general-view {
    width: 100%;
    height: 250px;
}

.table-form.help-view {
    width: 30%;
    height: 100px;
}


.search-menu{
    background-color: #000000;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    color: white;
    box-shadow:0 1px 0 #cfcfcf;
}


.error-alert {
    position: absolute;
    width: 600px;
    margin-top: 5%;
}

.page-down-block {
    width: 100%;
    height: 20px;
    margin-bottom: 0;
}

.btn-data-border {
    border-radius: 10px !important;
    border-color:black !important;
    border-width: 1px !important;
}

.pad-search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-margin {
    position: absolute;
    float: left;
    margin-left: -100px;
}